.beer-item-container {
	background-color: #F5F5F5;
}

.beer-item-btn {
	background-color: white;
	font-size: 10px;
	width: 184px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}

.unselected-container {
	float: right;
}

.unselected-img {
	width: 9px;
	height: 9px;
}

.beers-img {
	float: left;
	margin-top: 30px;
	height: 100px;
 	width: 30px;
}

.beer-item-info {
	width: 120px;
    height: 120px;
	display: inline-block;
	margin-left: 18px;
}

.beer-item-name {
	font-size: 15px;
	font-weight: 600;
	text-align: left;
}


.beer-item-spec1 {
	display: inline-block;
	text-align: left;
	margin-right: 25px;
	font-size: 13px;
	color: gray;
}

.beer-item-spec2 {
	display: inline-block;
	text-align: right;
	font-size: 13px;
}





