.beer-item-container {
	background-color: #F5F5F5;
}

.beer-item-btn {
	background-color: white;
	font-size: 10px;
	width: 150px;
    height: 150px;
	margin: 10px 15px 10px 0px;
	border-radius: 5px;
    box-shadow: 1px 1px 4px 0px #A0A0A0;
}

.beer-item-btn:focus {     
    outline-color: #ffc907;    
}

.beer-item-btn:active {     
    outline-color: #ffc907;    
}

.selecting-container {
	float: left;
}

.heart-selecting {
	width: 9px;
	height: 9px;
}

.row-beer-item {
	display: flex;
}

.column1-beer-item {
	flex: 20%;
}

.column2-beer-item {
	flex: 80%;
}

.beers-img {
	margin-top: 20px;
    height: 93px;
    width: 25px;
}

.beer-item-info {
	width: 85px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.beer-item-name {
	font-size: 12px;
    font-weight: 600;
	margin-bottom: 10px;
}

.beer-item-spec1 {
	display: inline-block;
    text-align: left;
    margin-right: 13px;
    font-size: 12px;
    color: gray;
}

.beer-item-spec2 {
	display: inline-block;
    text-align: right;
    font-size: 12px;
}

.row-modal {
	display: flex;
}

.column1-modal {
	flex: 30%;
}

.column2-modal {
	flex: 70%;
}

.item-name-modal {
	font-size: 20px;
    font-weight: 700;
	text-align: left;
	margin-bottom: 20px;
}

.beer-description-modal{
	margin-top: 15px;
	color: gray;
}

.beers-img-modal {
	height: 250px;
    width: 80px;
    margin: 50px 10px 0px;
}

.crate-btn-modal {
	padding-right: 30%;
}

.heart-btn-modal {
	border: none;
}

.close {
	color: #ffc907 !important;
	font-size: 2.5rem !important;
}

.modal-footer {
	border: none !important;
}


