.beer-item-container {
	background-color: #F5F5F5;
}

.beer-item-btn {
	background-color: white;
	font-size: 10px;
	width: 184px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}

.unselected-container {
	float: right;
}

.unselected-img {
	width: 9px;
	height: 9px;
}

.beers-img {
	float: left;
	margin-top: 30px;
	height: 100px;
 	width: 30px;
}

.beer-item-info {
	width: 120px;
    height: 120px;
	display: inline-block;
	margin-left: 18px;
}

.beer-item-name {
	font-size: 15px;
	font-weight: 600;
	text-align: left;
}

.beer-item-spec1 {
	display: inline-block;
	text-align: left;
	margin-right: 25px;
	font-size: 14px;
	color: gray;
}

.beer-item-spec2 {
	display: inline-block;
	text-align: right;
	font-size: 13px;
}

.row-modal {
	display: flex;
}

.column1-modal {
	flex: 30%;
}

.column2-modal {
	flex: 70%;
}

.item-name-modal {
	font-size: 20px;
    font-weight: 700;
	text-align: left;
	margin-bottom: 20px;
}

.beer-description-modal{
	margin-top: 15px;
	color: gray;
}

.beers-img-modal {
	height: 250px;
    width: 80px;
    margin: 60px 10px 0px;
}

.crate-btn-modal {
	padding-right: 30%;
}

.heart-btn-modal {
	border: none;
}

.close {
	color: #ffc907 !important;
	font-size: 2.5rem !important;
}

.modal-footer {
	border: none !important;
}


