
.header-container {
    background-image: url("../assets/pattern.png");
    background-color: #000;
  }

  .beer-logo-img{
    margin-left: 50px;
    padding-right: 7px;
    width: 38px;
  }

  .header-link {
    margin-right: 50px;
  }

  .join-btn {
    border-radius:27px !important;
    border:3px solid #ffc107 !important;
    display:inline-block !important;
    cursor:pointer !important;
    color: white !important;
    font-family:Arial;
    font-size:15px !important;
    padding:10px 40px !important;
    text-decoration:none !important;
  }
  .join-btn:hover {
    background-color:transparent !important;
  }
  .join-btn:active {
    position:relative !important;
    top:1px !important;
  }
  