
.gray-container {
	background-color: #F5F5F5;
	padding-top: 40px;
}

.row-1 {
	padding: 120px 0px 0 90px;
}

.row-2 {
	padding: 20px 0px 20px 80px;
}

body {
	background-image: url("../assets/pattern.png");
	background-color: #000 !important;
}

.title-text {
	  color: white;
	  margin-top: 10px;

}

.title-text h1 {
	font-size: 90px;
	font-weight: 800;
	padding-top: 20px;
	padding-bottom: 30px;
}

.bolder-font {
	font-size: 35px;
	font-weight: 600;
}

.crate-container .quote {
	font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.crate-container .quote-author {
	font-weight: 200;
    font-size: 14px;
    color: gray;
    text-align: center;
}

.crate-container img {
	padding-top: 10px;
}

.join-beerup-btn {
	margin-bottom: 40px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc907), color-stop(1, #ffc907));
	background:-moz-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-webkit-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-o-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-ms-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:linear-gradient(to bottom, #ffc907 5%, #ffc907 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc907', endColorstr='#ffc907',GradientType=0);
	background-color:#ffc907 !important;
	-moz-border-radius:30px !important;
	-webkit-border-radius:30px !important;
	border-radius:30px !important;
	border:1px solid #ffc907 !important;
	display:inline-block !important;
	cursor:pointer !important;
	color:#0a060a !important;
	font-family:Arial !important;
	font-size:13px !important;
	font-weight:bold !important;
	padding:14px 39px !important;
	text-decoration:none !important;
}
.join-beerup-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc907), color-stop(1, #ffc907));
	background:-moz-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-webkit-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-o-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-ms-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:linear-gradient(to bottom, #ffc907 5%, #ffc907 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc907', endColorstr='#ffc907',GradientType=0);
	background-color:#ffc907 !important;
}
.join-beerup-btn:active {
	position:relative;
	top:1px;
}


@media (max-width: 768px) {

	.crate-container {
	  text-align: center;
	}
  
	.main-navigation {
		margin-left: 10%;
	}

	.beers-logo {
		margin-right: 10%;
	}
  
	.social-icons {
		margin-left: 10%;
	}

	.form-container {
		padding: 0px 25% 30px !important;
	}
	
  }
  