.form-container {
    padding: 0px 30% 30px;
}

.text-join p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

Form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    -webkit-box-shadow: 6px 8px 5px -2px rgba(216,216,216,1);
    -moz-box-shadow: 6px 8px 5px -2px rgba(216,216,216,1);
    box-shadow: 6px 8px 5px -2px rgba(216,216,216,1);

}

.form {
	min-width: 270px;
}

.form-control {
	font-size: 14px !important;
}

.form-check-label {
    margin-bottom: 12px !important;
    font-size: 13px !important;
}

.rsvp-checkboxes {
	font-size: 13px;
}

Form p {
    font-size: 11px;
    font-weight: 900;
}

.joinup-btn-container {
    text-align: center;
    padding: 20px 0;
}

.joinup-beerup-btn {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc907), color-stop(1, #ffc907));
	background:-moz-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-webkit-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-o-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-ms-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:linear-gradient(to bottom, #ffc907 5%, #ffc907 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc907', endColorstr='#ffc907',GradientType=0);
	background-color:#ffc907 !important;
	-moz-border-radius:30px !important;
	-webkit-border-radius:30px !important;
	border-radius:30px !important;
	border:1px solid #ffc907 !important;
	display:inline-block !important;
	cursor:pointer !important;
	color:#0a060a !important;
	font-family:Arial !important;
	font-size:13px !important;
	font-weight:bold !important;
	padding:14px 65px !important;
	text-decoration:none !important;
}
.joinup-beerup-btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc907), color-stop(1, #ffc907));
	background:-moz-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-webkit-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-o-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:-ms-linear-gradient(top, #ffc907 5%, #ffc907 100%);
	background:linear-gradient(to bottom, #ffc907 5%, #ffc907 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc907', endColorstr='#ffc907',GradientType=0);
	background-color:#ffc907 !important;
}
.joinup-beerup-btn:active {
	position:relative;
	top:1px;
}

.swal-button {
	background-color: #ffc907;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }


